@import 'open-props/normalize';

body {
  overflow: hidden;
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
  -ms-overflow-style: none;
}

::-webkit-scrollbar {
  display: none;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 852px;
  overflow: hidden;
}
